SET GLOBAL event_scheduler = ON;


SET FOREIGN_KEY_CHECKS = 0;


DROP TABLE IF EXISTS `application_types`;
DROP TABLE IF EXISTS `role_types`;


DROP TABLE IF EXISTS `monitor_applications`;
DROP TABLE IF EXISTS `api_gateway_apis`;
DROP TABLE IF EXISTS `users`;


DROP PROCEDURE IF EXISTS `validate_api_gateway_api`;
DROP PROCEDURE IF EXISTS `validate_user`;


SET FOREIGN_KEY_CHECKS = 1;


CREATE TABLE `application_types` (
    `id` INT NOT NULL AUTO_INCREMENT,
    `application_type` VARCHAR(255) NOT NULL UNIQUE,
    `created_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    `updated_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,

    PRIMARY KEY (`id`),

    INDEX `idx_application_type` (`application_type`),
    INDEX `idx_created_at` (`created_at`),
    INDEX `idx_updated_at` (`updated_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE `role_types` (
    `id` INT NOT NULL AUTO_INCREMENT,
    `role_type` VARCHAR(255) NOT NULL UNIQUE,
    `created_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    `updated_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,

    PRIMARY KEY (`id`),

    INDEX `idx_role_type` (`role_type`),
    INDEX `idx_created_at` (`created_at`),
    INDEX `idx_updated_at` (`updated_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


CREATE TABLE `api_gateway_apis` (
    `id` INT NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(255) UNIQUE NOT NULL,
    `group_name` VARCHAR(255),
    `authentication_type` VARCHAR(255),
    `basic_and_bearer_authentication_method_type` VARCHAR(255),
    `method_type` VARCHAR(255) NOT NULL,
    `response_type` VARCHAR(255) NOT NULL,
    `api_key_authentication_key` LONGBLOB,
    `api_key_authentication_header_name` LONGBLOB,
    `basic_authentication_username` LONGBLOB,
    `basic_authentication_password` LONGBLOB,
    `basic_and_bearer_authentication_url` VARCHAR(255),
    `basic_and_bearer_authentication_query_parameter_map` JSON,
    `basic_and_bearer_authentication_header_map` JSON,
    `basic_and_bearer_authentication_body` JSON,
    `basic_and_bearer_authentication_token_extractor_list` JSON,
    `basic_and_bearer_authentication_expiration_extractor_list` JSON,
    `basic_and_bearer_authentication_expiration_buffer` INT,
    `bearer_authentication_token` LONGBLOB,
    `url` VARCHAR(255) NOT NULL,
    `query_parameter_map` JSON,
    `header_map` JSON,
    `body` JSON,
    `is_api_gateway_api_active` BOOLEAN NOT NULL DEFAULT FALSE,
    `created_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    `updated_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,

    CONSTRAINT `basic_and_bearer_authentication_query_parameter_map` CHECK (JSON_TYPE(`basic_and_bearer_authentication_query_parameter_map`) = 'OBJECT'),
    CONSTRAINT `basic_and_bearer_authentication_header_map` CHECK (JSON_TYPE(`basic_and_bearer_authentication_header_map`) = 'OBJECT'),
    CONSTRAINT `basic_and_bearer_authentication_token_extractor_list` CHECK (JSON_TYPE(`basic_and_bearer_authentication_token_extractor_list`) = 'ARRAY'),
    CONSTRAINT `basic_and_bearer_authentication_expiration_extractor_list` CHECK (JSON_TYPE(`basic_and_bearer_authentication_expiration_extractor_list`) = 'ARRAY'),
	CONSTRAINT `query_parameter_map` CHECK (JSON_TYPE(`query_parameter_map`) = 'OBJECT'),
	CONSTRAINT `header_map` CHECK (JSON_TYPE(`header_map`) = 'OBJECT'),
    
    PRIMARY KEY (`id`),
    
    FOREIGN KEY (`authentication_type`) REFERENCES `authentication_types`(`authentication_type`) ON DELETE CASCADE,
    FOREIGN KEY (`basic_and_bearer_authentication_method_type`) REFERENCES `method_types`(`method_type`) ON DELETE CASCADE,
    FOREIGN KEY (`method_type`) REFERENCES `method_types`(`method_type`) ON DELETE CASCADE,
    FOREIGN KEY (`response_type`) REFERENCES `response_types`(`response_type`) ON DELETE CASCADE,
    
    INDEX `idx_name` (`name`),
    INDEX `idx_group_name` (`group_name`),
    INDEX `idx_authentication_type` (`authentication_type`),
    INDEX `idx_basic_and_bearer_authentication_method_type` (`basic_and_bearer_authentication_method_type`),
    INDEX `idx_method_type` (`method_type`),
    INDEX `idx_response_type` (`response_type`),
    INDEX `idx_basic_and_bearer_authentication_url` (`basic_and_bearer_authentication_url`),
    INDEX `idx_basic_and_bearer_authentication_expiration_buffer` (`basic_and_bearer_authentication_expiration_buffer`),
    INDEX `idx_url` (`url`),
    INDEX `idx_is_api_gateway_api_active` (`is_api_gateway_api_active`),
    INDEX `idx_created_at` (`created_at`),
    INDEX `idx_updated_at` (`updated_at`)  
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE `monitor_applications` (
    `id` INT NOT NULL AUTO_INCREMENT,
    `application_type` VARCHAR(255) NOT NULL UNIQUE,
    `api_gateway_api_id` INT NOT NULL,
    `response_map` JSON,
    `is_alive` BOOLEAN NOT NULL DEFAULT TRUE,
    `is_monitor_application_active` BOOLEAN NOT NULL DEFAULT FALSE,
    `is_alive_transition_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    `created_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    `updated_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,

    CONSTRAINT `response_map` CHECK (JSON_TYPE(`response_map`) = 'OBJECT'),

    PRIMARY KEY (`id`),

    FOREIGN KEY (`application_type`) REFERENCES `application_types`(`application_type`) ON DELETE CASCADE,
    FOREIGN KEY (`api_gateway_api_id`) REFERENCES `api_gateway_apis`(`id`) ON DELETE CASCADE,

    INDEX `idx_application_type` (`application_type`),
    INDEX `idx_api_gateway_api_id` (`api_gateway_api_id`),
    INDEX `idx_is_alive` (`is_alive`),
    INDEX `idx_is_monitor_application_active` (`is_monitor_application_active`),
    INDEX `idx_is_alive_transition_at` (`is_alive_transition_at`),
    INDEX `idx_created_at` (`created_at`),
    INDEX `idx_updated_at` (`updated_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE `users` (
    `id` INT NOT NULL AUTO_INCREMENT,
    `application_type` VARCHAR(255) NOT NULL,
    `role_list` JSON NOT NULL,
    `username` VARCHAR(255) NOT NULL,
    `password` LONGBLOB NOT NULL,
    `is_user_active` BOOLEAN NOT NULL DEFAULT FALSE,
    `created_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    `updated_at` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,

    CONSTRAINT `role_list` CHECK (JSON_TYPE(`role_list`) = 'ARRAY'),

    PRIMARY KEY (`id`),

    FOREIGN KEY (`application_type`) REFERENCES `application_types`(`application_type`) ON DELETE CASCADE,

    UNIQUE KEY `unique_application_type_username` (`application_type`, `username`),

    INDEX `idx_application_type` (`application_type`),
    INDEX `idx_username` (`username`),
    INDEX `idx_is_user_active` (`is_user_active`),
    INDEX `idx_created_at` (`created_at`),
    INDEX `idx_updated_at` (`updated_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


DELIMITER //


CREATE PROCEDURE `validate_api_gateway_api`(
    IN `name` VARCHAR(255),
    IN `authentication_type` VARCHAR(255),
    IN `basic_and_bearer_authentication_method_type` VARCHAR(255),
    IN `api_key_authentication_key` LONGBLOB,
    IN `api_key_authentication_header_name` VARCHAR(255),
    IN `basic_authentication_username` LONGBLOB,
    IN `basic_authentication_password` LONGBLOB,
    IN `basic_and_bearer_authentication_url` VARCHAR(255),
    IN `bearer_authentication_token` LONGBLOB,
    OUT `is_valid` BOOLEAN,
    OUT `error_message` VARCHAR(255)
)
BEGIN
    SET `is_valid` = TRUE;
    SET `error_message` = NULL;
    
    IF `name` IN ('globalReplacementMap') THEN
        SET `is_valid` = FALSE;
        SET `error_message` = 'Invalid name: Cannot be globalReplacementMap';
    ELSE
        CASE `authentication_type`
            WHEN 'API Key' THEN
                IF `api_key_authentication_key` IS NULL OR `api_key_authentication_header_name` IS NULL THEN
                    SET `is_valid` = FALSE;
                    SET `error_message` = 'Invalid API Key authentication: Both key and header name are required';
                END IF;
            
            WHEN 'Basic' THEN
                IF `basic_authentication_username` IS NULL OR `basic_authentication_password` IS NULL THEN
                    SET `is_valid` = FALSE;
                    SET `error_message` = 'Invalid Basic authentication: Both username and password are required';
                END IF;
            
            WHEN 'Basic And Bearer' THEN
                IF `basic_and_bearer_authentication_method_type` IS NULL OR `basic_and_bearer_authentication_url` IS NULL THEN
                    SET `is_valid` = FALSE;
                    SET `error_message` = 'Invalid Basic And Bearer authentication: Both method type and URL are required';
                END IF;
            
            WHEN 'Bearer' THEN
                IF `bearer_authentication_token` IS NULL THEN
                    SET `is_valid` = FALSE;
                    SET `error_message` = 'Invalid Bearer authentication: Token is required';
                END IF;
        END CASE;
    END IF;
END;
//

CREATE PROCEDURE `validate_database`(
    IN `database_type` VARCHAR(50),
    IN `host` LONGBLOB,
    IN `database` LONGBLOB,
    IN `connect_string` LONGBLOB,
    OUT `is_valid` BOOLEAN,
    OUT `error_message` VARCHAR(255)
)
BEGIN
    SET `is_valid` = TRUE;
    SET `error_message` = NULL;
    
    CASE `database_type`
        WHEN 'MySQL' THEN
            IF `host` IS NULL OR `database` IS NULL THEN
                SET `is_valid` = FALSE;
                SET `error_message` = 'Invalid database configuration: Both host and database are required';
            END IF;

        WHEN 'Oracle' THEN
            IF `connect_string` IS NULL THEN
                SET `is_valid` = FALSE;
                SET `error_message` = 'Invalid database configuration: Connect string is required';
            END IF;
            
        WHEN 'SQL Server' THEN
            IF `host` IS NULL OR `database` IS NULL THEN
                SET `is_valid` = FALSE;
                SET `error_message` = 'Invalid database configuration: Both host and database are required';
            END IF;
    END CASE;
END;
//

CREATE PROCEDURE `validate_query_gateway_query`(
    IN `name` VARCHAR(255),
    OUT `is_valid` BOOLEAN,
    OUT `error_message` VARCHAR(255)
)
BEGIN
    SET `is_valid` = TRUE;
    SET `error_message` = NULL;
    
    IF `name` IN ('globalReplacementMap') THEN
        SET `is_valid` = FALSE;
        SET `error_message` = 'Invalid name: Cannot be globalReplacementMap';
    END IF;
END;
//

CREATE PROCEDURE `validate_user`(
    IN `role_list` JSON,
    OUT `is_valid` BOOLEAN,
    OUT `error_message` VARCHAR(255)
)
BEGIN
    DECLARE `index` INT DEFAULT 0;
    DECLARE `array_size` INT;
    DECLARE `current_role` VARCHAR(255);
    
    SET `is_valid` = TRUE;
    SET `error_message` = NULL;
    SET `array_size` = JSON_LENGTH(`role_list`);
      
    role_validation_loop: WHILE `index` < `array_size` DO
        SET `current_role` = JSON_UNQUOTE(JSON_EXTRACT(`role_list`, CONCAT('$[', `index`, ']')));

        IF NOT EXISTS (SELECT 1 FROM `role_types` WHERE `role_type` COLLATE utf8mb4_unicode_ci = `current_role`) THEN
            SET `is_valid` = FALSE;
            SET `error_message` = CONCAT('Invalid role_list: Role "', `current_role`, '" does not exist in the role_types table');
            
            LEAVE role_validation_loop;
        END IF;
        
        SET `index` = `index` + 1;
    END WHILE role_validation_loop;
END;
//


CREATE TRIGGER `before_validate_api_gateway_apis_insert`
BEFORE INSERT ON `api_gateway_apis`
FOR EACH ROW
BEGIN
    DECLARE `is_valid` BOOLEAN DEFAULT TRUE;
    DECLARE `error_message` VARCHAR(255);
    
    CALL `validate_api_gateway_api`(
        NEW.`name`,
        NEW.`authentication_type`,
        NEW.`basic_and_bearer_authentication_method_type`,
        NEW.`api_key_authentication_key`,
        NEW.`api_key_authentication_header_name`,
        NEW.`basic_authentication_username`,
        NEW.`basic_authentication_password`,
        NEW.`basic_and_bearer_authentication_url`,
        NEW.`bearer_authentication_token`,
        `is_valid`,
        `error_message`
    );
    
    IF NOT `is_valid` THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = `error_message`;
    END IF;
END;
//

CREATE TRIGGER `before_validate_api_gateway_apis_update`
BEFORE UPDATE ON `api_gateway_apis`
FOR EACH ROW
BEGIN
    DECLARE `is_valid` BOOLEAN DEFAULT TRUE;
    DECLARE `error_message` VARCHAR(255);
    
    CALL `validate_api_gateway_api`(
        NEW.`name`,
        NEW.`authentication_type`,
        NEW.`basic_and_bearer_authentication_method_type`,
        NEW.`api_key_authentication_key`,
        NEW.`api_key_authentication_header_name`,
        NEW.`basic_authentication_username`,
        NEW.`basic_authentication_password`,
        NEW.`basic_and_bearer_authentication_url`,
        NEW.`bearer_authentication_token`,
        `is_valid`,
        `error_message`
    );
    
    IF NOT `is_valid` THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = `error_message`;
    END IF;
END;
//

CREATE TRIGGER `before_users_insert`
BEFORE INSERT ON `users`
FOR EACH ROW
BEGIN
    DECLARE `is_valid` BOOLEAN DEFAULT TRUE;
    DECLARE `error_message` VARCHAR(255);

    CALL `validate_user`(
        NEW.`role_list`,
        `is_valid`,
        `error_message`
    );

    IF NOT `is_valid` THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = `error_message`;
    END IF;
END;
//

CREATE TRIGGER `before_users_update`
BEFORE UPDATE ON `users`
FOR EACH ROW
BEGIN
    DECLARE `is_valid` BOOLEAN DEFAULT TRUE;
    DECLARE `error_message` VARCHAR(255);

    CALL `validate_user`(
        NEW.`role_list`,
        `is_valid`,
        `error_message`
    );

    IF NOT `is_valid` THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = `error_message`;
    END IF;
END;
//


DELIMITER ;
